html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Classes */
.text {
    text-decoration: none;
    font-family: sans-serif;
}
.button {
    display: block;
    background-color: #222222;
    font-size: 16px;
	height: 52px;
    color: white;
}

/* Prompt (credit to Andrew Dodson) */
.jquery_prompt {
	position: fixed;
	top: 0;
	left: 0; 
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.2);
	color: #444444;
	font-family: arial;
	font-weight: bold;
	z-index: 10000;
	border: none;
	display: -webkit-box; 
	-webkit-box-align: center;
	display: -moz-box; 
	-moz-box-align: center;
	display: -ms-box; 
	-ms-box-align: center;
	display: box; 
	box-align: center;
}
iframe.jquery_prompt {
	display: table;
	filter: alpha(Opacity=20);
}
.jquery_prompt ~ *:not(.jquery_prompt) {
	-webkit-filter: blur(2px);
}
.jquery_prompt form {
	margin: 5% auto;
	display: table;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.plugin form {
	text-align: center;
	background-color: white;
	max-width: 100%;
	box-shadow: 0 20px 60px black;
	box-shadow: 0 20px 60px rgba(0, 0, 0 , 0.8);
	padding: 0;
	font-size: 1.2em;
	position: relative;
}
.plugin form > *, .plugin form h1, .plugin form .footer {
	padding-left: 20px;
	padding-right: 20px;
}
.plugin form > :first-child {
	padding-top: 20px;
}
.plugin form .footer {
	padding-bottom: 20px;
	position: relative;
}
.plugin input {
	width: 80%;
	font-size: inherit;
	margin-bottom: 20px;
	border: 0;
}
.plugin button {
	color: white;
	font-weight: normal;
	vertical-align: top;
	font-size: inherit;
	margin: 0 10px;
	margin-bottom: 10px;
	border: 0;
	padding: 4px 8px;
}
.plugin button:focus {
	outline: 0;
}
.plugin button[type=button] {
	font-size: 0.7em;
}
.plugin button[type=reset] {
	background-color: #BB2222;
}
.plugin button[type=reset]:hover {
	background-color: #990000;
}
.plugin button[type=submit] {
	background-color: #22BB22;
}
.plugin button[type=submit]:hover {
	background-color: #009900;
}
.plugin input[type=checkbox], .plugin input[type=checkbox] + label{
	width: auto;
	font-size: 12px;
}

/* Navigation Bar */
#nav {
	user-select: none;
	height: 58px;
	width: 100%;
	background-color: #333333;
}
#logo {
	position: relative;
	height: 100%;
	filter: invert(1);
}
#nav-left {
	position: relative;
	top: 3px;
	left: 3px;
	height: calc(100% - 6px);
    width: calc(100% - 6px);
    display: flex;
    justify-content: flex-start;
	pointer-events: none;
}
#nav-center {
	position: relative;
	left: 3px;
	bottom: 49px;
	height: calc(100% - 6px);
    width: calc(100% - 6px);
    display: flex;
    justify-content: center;
	pointer-events: none;
}
#nav-right {
	position: relative;
	left: 3px;
	bottom: 101px;
	height: calc(100% - 6px);
    width: calc(100% - 6px);
    display: flex;
    justify-content: flex-end;
	pointer-events: none;
}
.nav {
	cursor: pointer;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	display:flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
	pointer-events: auto;
}
#current-nav {
	position: relative;
	bottom: 153px;
    background-color: #226622;
	z-index: 10;
}

/* Content */
#content {
    float: left;
    width: 100%;
    height: calc(100% - 58px);
    background-color: #FFFFFF;
    box-sizing: border-box;
	border-left: 3px solid #333333;
	border-right: 3px solid #333333;
	border-bottom: 3px solid #333333;
    overflow: auto;
}

/* Images Page */
.images-img-button {
	color: black;
}
.images-img-box {
	float: left;
	background: #CCCCEE;
}
.images-title {
	margin: auto;
	text-align: center;
	width: 400px;
	height: 100%;
	padding: 20px 20px;
	font-size: 20px;
	font-weight: bold;
}
.images-img {
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	text-align: center;
	width: 400px;
	height: 200px;
}
.images-img-img {
	padding: 0 20px;
	max-width: 100%;
	max-height: 100%;
}
.images-credit {
	padding: 20px 20px;
	text-align: center;
	font-style: italic;
}

/* Notepad Page */
#notepad-content {
	height: 100%;
	width: 100%;
}
#notepad-bar-left {
	user-select: none;
	float: left;
	height: 50px;
	width: 100%;
	background-color: #555555;
	position: relative;
    display: flex;
    justify-content: flex-start;
	z-index: 3;
	pointer-events: none;
}
#notepad-bar-right {
	user-select: none;
	float: left;
	height: 50px;
	width: 100%;
	position: relative;
    display: flex;
    justify-content: flex-end;
	z-index: 3;
	bottom: 50px;
	pointer-events: none;
}
.notepad-bar-button {
	user-select: none;
	cursor: pointer;
	padding: 2px 2px;
	height: 46px;
	width: 46px;
	pointer-events: auto;
}
.notepad-bar-button-toggle-base {
	user-select: none;
	cursor: pointer;
	height: 100%;
	width: 100%;
}
.notepad-bar-button-toggle {
	float: right;
	user-select: none;
	cursor: pointer;
	height: 12px;
	width: 12px;
	position: relative;
	bottom: 16px;
}
.notepad-bar-separator {
	height: 50px;
	width: 50px;
}
#notepad-files {
	float: left;
	user-select: none;
	height: 28px;
	width: calc(100% - 56px);
	background-color: #888888;
	position: relative;
    display: flex;
    justify-content: flex-start;
	overflow: hidden;
	z-index: 1;
	bottom: 50px;
}
#notepad-files-left {
	float: left;
	user-select: none;
	height: 24px;
	padding: 2px 2px;
	position: relative;
	background-color: #777777;
	box-shadow: 0px 0px 10px black;
	z-index: 2;
	bottom: 50px;
}
#notepad-files-right {
	float: right;
	user-select: none;
	height: 24px;
	padding: 2px 2px;
	position: relative;
	background-color: #777777;
	box-shadow: 0px 0px 10px black;
	z-index: 2;
	bottom: 50px;
}
.notepad-files-button {
	user-select: none;
	cursor: pointer;
	height: 20px;
	padding: 4px 8px;
	background-color: #CCCCCC;
	white-space: nowrap;
	z-index: 1;
}
#notepad-textarea-container {
	width: 100%;
	height: calc(100% - 78px);
	background-color: #FFFFFF;
	position: relative;
	overflow: hidden;
	z-index: 3;
	bottom: 50px;
}
#notepad-textarea {
	float: left;
	padding: 10px 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	resize: none;
	border: 0;
	background-color: #FFFFFF;
	position: relative;
	bottom: 1px;
	z-index: 4;
	overflow: auto;
	white-space: normal;
}
input:focus, #notepad-textarea {
	outline: none !important;
}
