html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Classes */
.text {
    text-decoration: none;
    font-family: sans-serif;
}
.button {
    display: block;
    background-color: #222222;
    font-size: 16px;
	height: 52px;
    color: white;
}

/* Navigation Bar */
#nav {
	user-select: none;
	height: 58px;
	width: 100%;
	background-color: #333333;
}
#logo {
	position: relative;
	height: 100%;
	filter: invert(1);
}
#nav-left {
	position: relative;
	top: 3px;
	left: 3px;
	height: calc(100% - 6px);
    width: calc(100% - 6px);
    display: flex;
    justify-content: flex-start;
}
#nav-center {
	position: relative;
	left: 3px;
	bottom: 49px;
	height: calc(100% - 6px);
    width: calc(100% - 6px);
    display: flex;
    justify-content: center;
}
#nav-right {
	position: relative;
	left: 3px;
	bottom: 101px;
	height: calc(100% - 6px);
    width: calc(100% - 6px);
    display: flex;
    justify-content: flex-end;
}
.nav {
	cursor: pointer;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	display:flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
#current-nav {
	position: relative;
	bottom: 153px;
    background-color: #226622;
	z-index: 0;
}

/* Content */
#content {
    float: left;
    width: 100%;
    height: calc(100% - 58px);
    background-color: #DDDDFF;
    box-sizing: border-box;
	border-left: 3px solid #333333;
	border-right: 3px solid #333333;
	border-bottom: 3px solid #333333;
    overflow: auto;
}

/* Images Page */
.images-img-button {
	color: black;
}
.images-img-box {
	float: left;
	background: #CCCCEE;
}
.images-title {
	margin: auto;
	text-align: center;
	width: 400px;
	height: 100%;
	padding: 20px 20px;
	font-size: 20px;
	font-weight: bold;
}
.images-img {
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	text-align: center;
	width: 400px;
	height: 200px;
}
img:not(#logo) {
	padding: 0 20px;
	max-width: 100%;
	max-height: 100%;
}
.images-credit {
	padding: 20px 20px;
	text-align: center;
	font-style: italic;
}
